.container-fluid #navbarDropdown {
    padding-left: 300px;
}

nav {
    display: block;
}

.container-fluid #option {
    padding-left: 300px;
}

.container-fluid .navbar-brand {
    font-weight: bold;
}

.upper_section {
    border: 2px solid rgb(235, 181, 7);
    background-color: rgb(235, 181, 7);
    display: block;
    display: flex;
    border-radius: 50px;
    padding: 10px;
}

.upper_section .upper_text {
    padding: 100px;
}

.upper_section .upper_img img {
    border-radius: 50px;
}

.upper_section .upper_text p {
    font-size: 20px;
    font-style: italic;
}

.part_2 {
    text-align: center;
    margin-top: 20px;
    color: rgb(58, 58, 58);
    padding: 50px;
}

.part_2 h3 {
    font-weight: bolder;
}

.part_3 {
    display: block;
    display: flex;
    border: 1px solid rgb(243, 241, 241);
    background-color: rgb(243, 241, 241);
    border-radius: 50px;
    padding: 20px;
}

.part_3 .image img {
    height: 400px;
    width: 700px;
    border-radius: 20px;
}

.part_3 .text {
    text-align: right;
    padding-top: 100px;
    padding-left: 10px;
}

.part_3 .text h4 {
    font-weight: bolder;
}

.part_4 {
    text-align: center;
    margin-top: 20px;
    padding: 50px;
}

.part_4 h3 {
    font-weight: bolder;
}

.part_4 h5 {
    font-weight: bolder;
}

.part_5 {
    margin-top: 20px;
    padding-left: 200px;
}

.part_5 .card img {
    height: 100px;
    width: 100px;
    align-items: center;
    margin-left: 80px;
}

.content {
    max-width: 1170px;
    background-color: rgb(68, 68, 68);
    margin: auto;
    color: white;
    display: flex;
}

.footer_col ul li a {
    list-style: none;
}

.footer {
    background-color: rgb(39, 39, 39);
}

.footer_col {
    width: 25%;
    padding-bottom: 50px;
}